@CHARSET "UTF-8";

.hero-background {
	background-size:100%;
    background-repeat: repeat-x;
    background-position: top center;
    min-height: 900px;
}

.search-group{
	margin:0 auto;
	max-width: 880px;
}

.book_thumb{
	
	height:175px;
	width:150px;
	display:bolck;
}

.footer {
  min-height: 100px;
  background-color: #eee;
}
.footer .container {
  max-width: 90%;
  padding: 0 15px;
  margin:0 auto;
}
.footer .container .text-muted {
  margin: 20px 0;
}

.footer a{
  color: dimgray;
}

@media screen and (max-width: 720px){
	.sbutton{
	   btn-block;
	}
}