@CHARSET "UTF-8";

@media ( min-width : 650px) {
	.out-container {
		padding-top: 120px;
		padding-bottom: 120px;
		padding-left: 10%;
		padding-right: 10%;
	}
}

.bg-login {
	background-image: url("../img/book_thumb.jpg");
}

.out-contain-form {
	min-height: 450px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.contain-form {
	padding-right: 24px !important;
	padding-left: 24px !important;
	display: block;
	box-sizing: border-box;
}

.mx-auto {
	margin-right: auto !important;
	margin-left: auto !important;
}

@media ( min-width : 768px) {
	.gutter-md-spacious>[class*="col-"] {
		padding-right: 24px !important;
		padding-left: 24px !important;
	}
	.col-md-5 {
		width: 41.66667%;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-top:-80px;
	margin-bottom: 200px;
	background-image: url("../img/book_thumb.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}
/*页面底部样式*/
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #eee;
}

.footer .container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}

.footer .container .text-muted {
	margin: 20px 0;
}
/*登陆页面的表单的边框设计
	!important 指定优先权
*/
.shadow-lg {
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.10);
}
.p-03 {
    padding: 3px;
}
.bg-white {
    background-color: #FFFFFF;
}
.constrain {
    max-width: 600px;
    margin: 0 auto;
}
.bg-white {
    background-color: #fff!important;
}

.panel-border {
    border: 1px solid #DAD5CE;
}