<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 
<servlet>
  <!-- 类名 -->
  	<servlet-name>BookReturnServlet</servlet-name>
  <!-- 所在的包 -->
  	<servlet-class>cn.niit.lms.manage.BookReturnServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>BookReturnServlet</servlet-name>
	<!-- 访问的网址 -->
	<url-pattern>/LMS/BookReturnServlet</url-pattern>
</servlet-mapping>	
 
  <display-name>LMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>